p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    margin: 0px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 5px;
    background-color: rgba(128, 128, 128, 0.073);
}
.sidebar-name{
    font-family: Arial;
    font-size: 10px;
}