.sidebar{
    display: flex;
    flex-direction:column;
    position:fixed;
    top: 55px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    z-index: 200;
}
.sidebar img{
    width: 25px;
}
.home-button{
    height: 70px;
    width: 75px;
    background-color: white;
    border-style: none;
}
.home-button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.087);
}
.explore-button{
    height: 70px;
    width: 75px;
    background-color: white;
    border-style: none;
}
.explore-button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.087);
}
.subscriptions-button{
    height: 70px;
    width: 75px;
    background-color: white;
    border-style: none;
}
.subscriptions-button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.087);
}
.originals-button{
    height: 70px;
    width: 75px;
    background-color: white;
    border-style: none;
}
.originals-button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.087);
}
.youtube-music-button{
    height: 70px;
    width: 75px;
    background-color: white;
    border-style: none;
}
.youtube-music-button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.087);
}
.library-button{
    height: 70px;
    width: 75px;
    background-color: white;
    border-style: none;
}
.library-button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.087);
}
